<div class="row">
  <div class="left">
    <div class="logo">
    OtoMoto
    </div>
  </div>
  <div class="left">
    <label for="">Year</label>
    <div class="select">
      <select name="year[from]" class="js-filter">
        <option value="">From</option>
        {{#each years as |year|}}
          <option value="{{year}}">{{year}}</option>
        {{/each}}
      </select>
    </div>
    <div class="select">
      <select name="year[to]" class="js-filter">
        <option value="">To</option>
        {{#each years as |year|}}
          <option value="{{year}}">{{year}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="left">
    <label for="">Milage</label>
    <div class="select">
      <select name="mileage[from]" class="js-filter">
        <option value="">From</option>
        {{#each miles as |mile|}}
          <option value="{{mile}}">{{mile}} km</option>
        {{/each}}
      </select>
    </div>
    <div class="select">
      <select name="mileage[to]" class="js-filter">
        <option value="">To</option>
        {{#each miles as |mile|}}
          <option value="{{mile}}">{{mile}} km</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="left">
    <label for="">Price</label>
    <input type="text" name="price[from]" class="js-filter" placeholder="From" />
    <input type="text" name="price[to]" class="js-filter" placeholder="To" />
  </div>
  <div class="left">
    <label for="">Dealer</label>
    <input type="checkbox" name="authorized_dealer" class="js-filter-check" />
  </div>
  <div class="right">
    <button class="js-load-data positive">&orarr;&nbsp;&nbsp; Find Cars</button>
  </div>
</div>
