<div class="left prm">
  <img src='{{image}}' alt='' />
</div>
<div class="last-col">
  <h3>{{title}}</h3>
  <div class="sub"> <span class="price">{{price}}</span>  <span class="muted">{{price_desc}}</span></div>
  <div class="params">{{{params_list}}}</div>
  <a href="{{url}}" class="js-link">View on otomoto.pl</a>
</div>
