<div class="left prm">
  <a href="{{url}}" class="js-link">
    <img src='{{image}}' alt='' />
  </a>
</div>
<div class="last-col">
  <h3><a href="{{url}}" class="js-link">{{title}}</a></h3>
  <div class="sub"> <span class="price">{{price}}</span>  <span class="muted">{{price_desc}}</span></div>
  <div class="params">{{{params_list}}}</div>
  <span class="control js-skip-offer"><i class="icon-eye"></i> Hide</span>
</div>
